
body {
    font-optical-sizing: none; /* Just in case */
    
    margin: 0px;
    padding: 0px;
}

/* Using !important to prevent further CSS rules form breaking everything */
page {
    display: block !important;
    overflow: auto !important; /* Ensures that overflow is properly detected by JS */
}

mathnode {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
}
