
/* Default styling for slides, can be modified */

body {
    background-color: #000;
}

.slides page {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.slides page-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slides page-inside > * {
    display: block;
}

.slides page-inside > span {
    text-align: center;
}

.slides {
    font-size: 2rem;
}

.slides h1 {
    font-size: 8rem;
}

.slides pre,
.slides code {
    border-color: #222;
    background-color: transparent;
}

.slides pre {
    margin: 2em;
}

.big {
    font-size: 3rem;
}

.img-bg {
    position: absolute;
    z-index: -10;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img-bg-blur {
    position: absolute;
    z-index: -15;
    left: -10vw;
    top: -10vh;
    height: 120vh;
    width: 120vw;
    background-size: cover;
    background-position: center;
    filter: blur(30px);
}

.bottom-text {
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    height: 400px;
    width: 100vw;
    background: linear-gradient(transparent 0%, black 100%);

    display: flex !important;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    padding: 50px;
}

.bottom-text .title {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.bottom-text .caption {
    font-size: 1.5rem;
}

@media screen {
    .slides page {
        animation: appear 0.2s forwards;
    }
}

@keyframes appear {
    from {
        transform: translateX(40px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 100;
    }
}
