
/*
Entête:

<div class="top">
    <div class="title-box">MP2I 861, Lycée du Parc</div>
    <div class="title-box">2023-24</div>
</div>
<h1>
    DL 19 - Mouvements de particules chargées
    <span>Pour le 19 mars 2024</span>
    <span>N?om</span>
</h1>
*/

body {
    --counter-reset: h2;
}

page > text:nth-child(1) {
    display: inline-block;
    text-indent: 8mm;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10mm;
}

.title-box {
    font-family: 'Times New Roman', Times, serif;
    border: 0.3mm solid black;
    box-shadow: 2mm 2mm 0 0 black;
    font-size: 1.4em;
    font-weight: bold;
    padding: 3mm 4mm;
}

h1 {
    display: flex;
    flex-direction: column;

    font-family: calligra;
    font-weight: normal;
    text-align: center;
    font-size: 4em;

    background-color: #ffb74a;
    margin-top: 5mm;
    padding-bottom: 2mm;
}

h1 > span {
    margin-top: -2mm;
    font-size: 0.6em;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    display: block;
    border: 0.3mm solid black;
    text-align: center;
    padding: 4mm 5mm 6mm 5mm;
    counter-increment: h2;
}

h2::before {
    font-weight: normal;
    content: counter(h2);
    position: absolute;
    background-color: white;
    top: -3.5mm;
    left: 5mm;
    padding: 0 1mm 0 1mm;
}

h3 {
    width: 100%;
    border-bottom: 0.3mm solid black;
    font-weight: normal;
    overflow: visible;
    height: 1.2em;
    font-size: 1em;
}

question {
    padding-left: 2.2em;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 2.2em);
}

.question-num {
    margin-left: -2.2rem;
    display: inline-block;
    width: 1.7em;
    text-align: right;
    margin-right: 0.5em;
}

.question-num::after {
    content: ".";
}

question > inner {
    display: inline;
}

.figure-caption::before {
    content: "Fig." counter(figure) ": " !important;
    font-variant: small-caps;
}

.table-caption::before {
    content: "Table " counter(table) ": " !important;
    font-variant: small-caps;
}

doc-footer {
    border-top: 0.2mm solid black;
    text-align: left;
    position: relative;
    margin-top: 1rem;
    padding-top: 0.3rem;
}

doc-footer page-number {
    position: absolute;
    right: 0;
}

doc-header {
    text-align: left;
    border-bottom: 0.2mm solid black;
    margin-bottom: 1rem;
    padding-bottom: 0.1rem;
}

#page-1 doc-header {
    display: none;
}

doc-header last-tag-value {
    text-transform: uppercase;
}

doc-header last-tag-value::before {
    content: counter(h2);
    padding-right: 1em;
}

@font-face {
    font-family: calligra;
    src: url("calligra.otf");
}
